:root {
  padding: 40px;
  display: flex;
  justify-content: center;
}
/* .blue {
  background-color: rgb(0, 81, 255) !important;
}
.red {
  background-color: rgb(235, 20, 20) !important;
} */
.main_container {
  width: 600px;
  background-color: #f5dede;
  /* border: 2px solid rgb(26, 25, 25); */
  padding: 20px;
  box-shadow: 4px 4px 4px rgb(78, 78, 78);
  /* border: 3px solid red; */
}
.zero_colors {
  background-color: #f5dede !important;
  color: #f5dede !important;
}
.deux_colors {
background-color: #091F69 !important;
color: #FFF !important;
}
.quatre_colors {
background-color: #C5491D !important;
color: #FFF !important;
}
.huit_colors {
background-color: #ffdcdf !important;
}
.seize_colors {
background-color:#f8c2d6 !important ;
}
.trente-deux_colors {
background-color: #c2dfde !important;
}
.soixante-quatre_colors {
background-color: #DBE7E4 !important;
}
.cent-vingt-huit_colors {
background-color: #F0EFEB !important;
}
.deux-cent-cinquante-six_colors {
background-color: #D6E2E9 !important;
}
.cinq-cent-douze_colors {
background-color: #BCD4E6 ;
}
button {
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  /* margin-left: 20px; */
  background-color: #fff;
  border-color: royalblue;
  color: royalblue;
  font-weight: 700;
  font-size: 20px;
}

button:hover {
  background-color:royalblue;
  color: #fff;
}
.start_buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.button_container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
  position: relative;
  /* border: 2px solid red; */

}
.btn_left{
  /* position: absolute; */
  left: 0;
}
.btn_right {
  /* position: absolute; */
  right: 0;
}
.btn_top {
  /* position: absolute; */
  top: -20;
}
.btn_bottom {
  /* position: absolute; */
  bottom: -20;
}
.block {
  height: var();
  width: 150px;
  margin-top: 40px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block_top{
  transform: translate(0,-40px);
}
.block_bottom{
  transform: translate(0,40px);
}
.block_left{
  transform: translate(-40px,0);
}
.block_right{
  transform: translate(40px,0);
}
.grid-container {
  margin-top: 40px;
}
.grid {
  /* display:grid ;
  grid-template-areas:"a a a a"
                      "b b b b"
                      "c c c c"
                      "d d d d"; */
background: #7272a5;
width: max-content;
margin: auto;
padding: 5px;
/* border-radius: 5px; */
/* margin-top: 10px; */
display: flex;

}
.block {
  height: 80px;
  width: 80px;
  background:#f7ece6;
  margin: 3px;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: bold;
  color: #756E64;
}
/* .grid :nth-child(1){
  background-color: aqua;
  grid-area: a;
} */

body {
  background-color: #FAF8EF;
}

