:root {
  padding: 40px;
  display: flex;
  justify-content: center;
  --positontop : 10px
}
button {
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 20px;
  background-color: royalblue;
  color: #fff;
}
.block {
  height: var();
  width: 150px;
  margin-top: 40px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block_top{
  transform: translate(0,-40px);
}
.block_bottom{
  transform: translate(0,40px);
}
.block_left{
  transform: translate(-40px,0);
}
.block_right{
  transform: translate(40px,0);
}