* {
  box-sizing: border-box;
}
body {
  background-color: #FAF8EF;
  font-family: 'Righteous';
}
/* :root {
  padding: 40px;
  display: flex;
  justify-content: center;
} */
#root {
  padding: 40px;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

/* .blue {
  background-color: rgb(0, 81, 255) !important;
}
.red {
  background-color: rgb(235, 20, 20) !important;
} */
.main_container {
  width: 600px;
  /* border: 2px solid rgb(26, 25, 25); */
  padding: 20px;
  /* box-shadow: 4px 4px 4px rgb(78, 78, 78); */
  /* border: 3px solid red; */
  position: relative;
}

.titre {
  font-size: 3.5em;
  position: absolute;
  top: 216px;
  left: -52px;
  color: #756E64;
}
.profil_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* gap: 20px; */
  /* height: 95vh; */
  /* border: 2px solid red; */
  background-color: rgb(55, 164, 228);
  box-shadow: 4px 4px 4px rgb(83, 81, 81);
  width: 800px;
  margin: 40px 0 ;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 38px;
}
.profil {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.profil .form {
  display: flex;
  gap: 20px;
  align-items: baseline;
  margin-bottom: 10px;
  color: #fff;
}
.profil_container .logos {
  width: 100%;
}
.profil_container .logos div {
  display: flex;
  /* gap: 140px; */
  justify-content: space-around;
  margin-bottom: 60px;
  width: 100%;
}
.profil_container .logos i {
  font-size: 50px;
  display: flex;
  padding: 10px 0;
  justify-content: center;
  /* border: 2px solid red; */
  /* background-color: #8bcdff; */
  background-color: rgb(55, 164, 228);
  border-radius: 25px;
  width: 90px;
  /* color: #103958; */
  color: #fff;
  cursor: pointer;
}
.profil_container .logos i:hover {
  transform: scale(1.09);
  /* color: #7fa4c0; */
  color: rgb(44, 78, 190);
  background-color: #fff;
}
.logos_click-color {
  background-color: rgb(44, 78, 190) !important;
}
.logos_click-color:hover {
  color: #fff !important;
}
.logos h1 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  color: #fff;
  /* position: absolute;
  top: 150px;
  left: 190px;*/ 
}
.profil_container button {
  background-color: #fff;
  border-color: rgb(44, 78, 190);
  color: rgb(44, 78, 190);
  width: 150px;
  transition: all ease 0.3s;
}
.profil_container button:hover {
  /* background-color: rgb(83, 172, 83);
  color: #fff; */
  transform: scale(1.09);
  background-color: rgb(44, 78, 190);
  color: #fff;
}

.zero_colors {
  background-color: #B1A390 !important;
  color: #B1A390 !important;
}
.deux_colors {
background-color: #EDDCD2 !important;
}
.quatre_colors {
background-color: #FFF1E6 !important;
}
.huit_colors {
background-color: #FDE2E4 !important;
}
.seize_colors {
background-color:#FAD2E1 !important ;
}
.trente-deux_colors {
background-color: #C5DEDD !important;
}
.soixante-quatre_colors {
background-color: #DBE7E4 !important;
}
.cent-vingt-huit_colors {
background-color: #F0EFEB !important;
}
.deux-cent-cinquante-six_colors {
background-color: #D6E2E9 !important;
}
.cinq-cent-douze_colors {
background-color: #BCD4E6 !important;
}
.mille-vingt-quatre_colors {
  background-color: #99C1DE !important;
}
.deux-mille-quarante-huite_colors {
  background-color: #7BB1D9 !important;
}

button {
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  /* margin-left: 20px; */
  background-color: #FF928B;
  border: 2px solid #FAF8EF;
  color: white;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Righteous';
  font-size: 28px;
  
}
.grid_top {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.grid_top i {
  font-size: 35px;
  cursor: pointer;
}
.grid_top i:hover {
  transform: scale(1.03);
  color: rgb(94, 92, 92);
}
.score {
  padding: 3px 0;
  border-radius: 20px;
  background-color: #7BB1D9;
  line-height: 15px;
  font-size: 28px;
  font-family: 'Righteous';
  width: 160px;
  height: 130px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 276px;
  right: -164px;
  text-align: center;
  /* padding-bottom: 25px; */
}

.move {
  position: absolute;
  top: 81px;
  right: 78px;
  text-align: end;
  color: #756E64;
}

.timer {
  position: absolute;
  bottom: -26px;
  right: 450px;
  text-align: end;
  color: #756E64;
}

.filter{
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  color: black;
  display: flex;
  font-size: 100px;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: fixed;
  top: -100px;
  left: 0px;
}

button:hover {
  background-color:#eb8881;
  color: #fff;
}
.personnage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0;
  border-radius: 20px;
  box-shadow: 4px 4px 4px gray;
  margin-bottom: 20px;
  background-color: rgb(44, 78, 190);
  color: #fff;
}
.personnage i {
  font-size: 45px;
  color: rgb(44, 78, 190);
  color: #fff;
}
.start_buttons {
  width: 164px;
  display: flex;
  justify-content: space-around;
  height: 58px;
}

.start {
  position: absolute;
  bottom: 160px;
  right: -167px;
}
.reset {
  position: absolute;
  bottom: 86px;
  right: -167px;
}
.Pause_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 30vh;
  gap: 70px;
  /* justify-content: center;*/
  align-items: center; 
  top: 0;
  left: 0;
  background-color: rgba(63, 61, 61,0.7);
  color: #fff;
  height: 100%;
  width: 100%;
  z-index: 3;
}
.Pause_container div {
  font-size: 30px;
}
.Pause_container button {
  width: 170px;
  height: 60px;
}

.button_container {
  display: flex;
  gap: 20px;
  /* justify-content: center; */
  /* margin-top: 50px; */
  position: relative;
  height: 80px;
  width: 70px;
  /* border: 2px solid red; */
  /* border: 2px solid red; */

}

.btn_left{
  position: absolute;
  left: -133px;
  bottom: 144px;
  width: 57px;
  height: 57px;
  background-color: #FAF8EF;
  color: #FAF8EF;
  border-radius: 50px;
  font-size: 20px;
}
/* .btn_left:hover {
  background-color:#6796b9;
  color: #fff;
} */

.btn_right {
  position: absolute;
  left: -37px;
  bottom: 144px;
  width: 57px;
  height: 57px;
  background-color: #FAF8EF;
  color: #FAF8EF;
  border-radius: 50px;
  font-size: 20px;
}
/* .btn_right:hover {
  background-color:#6796b9;
  color: #fff;
} */

.btn_top {
  position: absolute;
  left: -84px;
  bottom: 190px;
  width: 57px;
  height: 57px;
  background-color: #FAF8EF;
  color: #FAF8EF;
  border-radius: 50px;
  font-size: 20px;
}
/* .btn_top:hover {
  background-color:#6796b9;
  color: #fff;
} */

.btn_bottom {
  position: absolute;
  left: -84px;
  bottom: 103px;
  width: 57px;
  height: 57px;
  background-color: #FAF8EF;
  color: #FAF8EF;
  border-radius: 50px;
  font-size: 20px;
}

/* .button_container button:hover {
  background-color:#6796b9;
  color: #fff;
} */

/* .block {
  height: var();
  width: 150px;
  margin-top: 40px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center; 
} */


.grid-container {
  margin-top: 40px;
}
.grid {
background: #A3937F;
width: max-content;
margin: auto;
padding: 5px;
/* border-radius: 5px; */
/* margin-top: 10px; */
display: flex;
box-shadow: 4px 4px 6px grey;
}

.top {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}
.bottom {
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}

.block {
  height: 107px;
  width: 107px;
  background:#f7ece6;
  margin: 3px 8px;
  display: flex;
  border-radius: 22px;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: bold;
  color: #756E64;
}




